<div class="hero-art" aria-hidden="true">
  <div class="hero-art__frame">
    <div class="hero-art__grid"></div>
    <svg viewBox="0 0 420 420" class="hero-art__mark" xmlns="http://www.w3.org/2000/svg">
      <path d="M54 44H228L160 210L228 376H54L136 210L54 44Z" fill="#B11F27" />
      <path d="M366 44H192L260 210L192 376H366L284 210L366 44Z" fill="#F6EEE6" />
      <rect x="192" y="68" width="36" height="284" fill="#171315" />
    </svg>
    <div class="hero-art__caption">
      <span>Quick wins first</span>
      <span>Bounded scope</span>
      <span>Proof before expansion</span>
    </div>
  </div>
</div>
